///////////////////////////////////
///////// COLORS  from: https://flatuicolors.com/palette/se
$color-primary: #ff3f34;
$color-secondary:#05c46b;
$color-tertiary-dark: #575fcf;
$color-tertiary-light: #4bcffa;
$color-black: #262b2e;
$color-grey: #d2dae2;
$color-white: #e2ecf6;
$color-opacity: 0.6;
