.popup {
    position: absolute;
    width: 50vh;

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 8rem;
    font-weight: 700;
    color: transparent;
    
    opacity: 0;
    z-index: -100;

    transform: scale(0.7);
    transition: all 0.4s ease-out;

    @media only screen and (max-width: 37.5em) {
        font-size: 4rem;
        width: 30vh;
    }
}
.correct { color: $color-secondary;}
.wrong { color: $color-tertiary-dark;}

.popup-on {
    z-index: 100;
    opacity: 1;

    transform: scale(1);   
}
